* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'nunitolight',Arial, Helvetica, sans-serif,'open_sansbold';
	font-family:"MyFont" !important; 
	font-size: 13px;
	color: #555;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'nunitolight',Arial, Helvetica, sans-serif;
}
a{
	color: #555;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 13px;
	font-family: 'nunitolight';
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
@font-face {
    font-family: 'nunitosemibold';
    src: url('../fonts/nunito/nunito-semibold-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-semibold-webfont.woff') format('woff'),
    	 url("../fonts/opensans/nunitosemibold.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitoregular';
    src: url('../fonts/nunito/nunito_regular-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito_regular-webfont.woff') format('woff'),
         url("../fonts/opensans/nunitoregular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitolight';
    src: url('../fonts/nunito/nunito_light-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito_light-webfont.woff') format('woff'),
         url("../fonts/opensans/nunitolight.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunitobold';
    src: url('../fonts/nunito/nunito_bold-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito_bold-webfont.woff') format('woff'),
         url("../fonts/opensans/nunitobold.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-light-webfont.woff') format('woff'),
         url("../fonts/opensans/open_sanslight.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url("../fonts/opensans/open_sansregular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-semibold-webfont.woff') format('woff'),
         url("../fonts/opensans/open_sanssemibold.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'),
         url("../fonts/opensans/open_sansbold.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'american_captainregular';
    src: url('../fonts/american/american_captain-webfont.woff2') format('woff2'),
         url('../fonts/american/american_captain-webfont.woff') format('woff'),
         url("../fonts/opensans/american_captainregular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}
header{

}
#top{
	text-align: center;
}
header section#top{
	background:linear-gradient(to right, #7eb244, #43C6AC);
	padding: 6px 0;
}
header section#top .wrapper div{
	
}
header section#top .wrapper div.left{
	float: left;
}
header section#top .wrapper div.left a{
	color: #fff;
	display: flex;
	font-size: 14px;
}
header section#top .wrapper div.left a span.icon{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/sprite-kvups.png)  -3px -230px;
	margin-right: 15px;
}
header section#top .wrapper div.left a b{
	font-size: 15px;
	color: #fff;
	line-height: 20px;
}
header section#top .wrapper div.right{
	float: right;
}
header section#top .wrapper div.right span.icon{
	
}
header section#top .wrapper div.right span.icon.facebook {
	width:24px;
	height: 22px;
	background: url(../images/sprite-kvups.png) no-repeat -3px -4px;
	display: inline-block;
}
header section#top .wrapper div.right span.icon.plus {
	width:24px;
	height: 22px;
	background: url(../images/sprite-kvups.png) no-repeat -60px -4px;
	display: inline-block;
}
header section#bottom{
	
}
header section#bottom h1.left.logo{
	padding: 30px 0;
	float: left;
	font-size: 13px;
}
header section#bottom h1.left.logo a{

}
header section#bottom h1.left.logo a img{
	width: 100px;
	margin: 15px 0;
}
header section#bottom nav.right{
	padding: 40px 0;
}
header section#bottom nav.right ul{
	
}
header section#bottom nav.right ul li{
	display: inline-block;
	text-align: center;
	margin-right: 30px;
}
header section#bottom nav.right ul li:last-child{
	margin-right: 0;
}
header section#bottom nav.right ul li.active {
	border-radius: 10px;
	padding: 10px 25px;
	background-color: #7eb244;
	font-weight: normal;
}
header section#bottom nav.right ul li.active a{
	color: #fff;
}
header section#bottom nav.right ul li a{
	color: #5555555;
}
#spotlight{
	background-size: cover;
	text-align: center;
}
#spotlight .slider{
	width: auto;
	height: 580.95px;
	overflow: hidden;
	position: absolute;
}
#spotlight .slider img{
	width: 100%;
	display: block;
	position: relative;
	left: 0;
	right:0;
	overflow: hidden;
	z-index: 1;
}
#spotlight  div.content{
	position: relative;
	z-index: 2;
	text-align: center;
	padding:206px 0;
	color: #fff;
	background: rgba(0,0,0,.35);
}
#spotlight  div.content h2{
	font-size: 50px;
	color: #fff;
	font-weight: bold;
	font-family: 'open_sansbold';
}
#spotlight  div.content h2 span{
	color: #57B96E;
}
#spotlight  div.content p{
	font-size: 20px;
	margin-bottom: 1%;
}
#spotlight  div.content a{
	font-size: 20px;
	color: #fff;
	display: inline-block;
	border-radius: 35px;
	background: linear-gradient(to right, #7eb244, #43C6AC);
	padding: 10px 40px;
	border: 1px solid #fff;
}
#about{

}
#about .top{

}
#about .top{
	float: none;
}
#about .top .left{
	width: 50%;
}
#about .top .left img{
	width: 100%;
	float: left;
}
#about .top .right{
	float: left;
	width: 27.3%;
	padding: 65px 0;
	text-align: right;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: 5%;
}
#about .top .right h2{
	font-size: 45px;
	color: #484653;
	font-family: 'american_captainregular';
	font-weight: bold;
}
#about .top .right h2 span{
	color: #7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	display: block;
	font-weight: bold;
	margin-top: 10px;
}
#about .top .right p{
	margin: 35px 0;
	font-size: 14px;
	line-height: 25px;
}
#about .bottom{
	background: #f5f5f5;
	padding: 50px 0;
} 
#about .bottom div{
	background: #fff;
	
}
#about .bottom div.left.box{
	float: left;
	width: 48%;
	text-align: center;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}
#about .bottom div.left.box .top{
	background:url(../images/our-mission.jpg) no-repeat;
	padding: 40px 0;
	text-align: center;
	background-size: cover;
}
#about .bottom div.box .top h2{
	color: #fff;
	font-family: 'american_captainregular';
	font-size: 50px;
	font-weight: bold;
}
#about .bottom div.box .top h2 span{
	background:-webkit-linear-gradient(#43C6AC, #7eb244);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip: text;
	display: block;
	font-weight: bold;
}
#about .bottom div.box .bottom{
	padding: 30px 15px;
}
#about .bottom div.box .bottom p{
	font-size: 14px;
}
#about .bottom div.right.box{
	float: right;
	width: 48%;
	text-align: center;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}
#about .bottom div.right.box .top{
	background:url(../images/our-vision.jpg) no-repeat;
	text-align: center;
	background-size: cover;
	padding: 40px 0;
}
#activitis{
	background: url(../images/our-accadamics.jpg) no-repeat;
	padding:115px 0;
	background-size: cover;
	position: relative;
}
#activitis .left{
	width: 45%;
}
#activitis .popimage img{
	 position: absolute;
	 width: 38%;
	 bottom: 0;
	 right: 150px;
}
#activitis .left h2{
	font-size: 45px;
	color: #fff;
	font-family: 'american_captainregular';
	text-transform: uppercase;
	font-weight: bold;
}
#activitis .left h2 span{
	display: block;
	background: -webkit-linear-gradient(#43C6AC, #7eb244);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
}
#activitis .left p{
	color: #fff;
	font-size: 15px;
	margin: 40px 0;
}
#activitis .left a.button{
	display: inline-block;
	border-radius: 25px;
	padding: 10px 40px;
	color: #fff;
	font-size: 20px;
	background: linear-gradient(to right,#7eb244, #43C6AC);
}
#achievements{
	padding: 70px 0;
}
#achievements h2.good{
	font-weight: bold;
	font-size: 45px;
	font-family: 'american_captainregular';
	float: right;
	margin: 55px 0;
	text-align: right;
}
#achievements h2.good span{
	display: block;
	font-weight: bold;
	background: linear-gradient(#7eb244, #43C6AC);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#achievements ul{
	float: left;
}
#achievements ul li{
	width: 32%;
	float: left;
	margin-right: 2%;
}
#achievements ul li:last-child{
	margin-right: 0;
}
#achievements ul li .top{
	background: #F5F5F5;
}
#achievements ul li .top .left{
	width: 50%;
}
#achievements ul li .top .left img{
	display: inline-block;
	width: 100%;
	float: left;
}
#achievements ul li .top .right{
	float: right;
	width: 50%;
}
#achievements ul li .top .right h2{
	font-weight: bold;
	font-size: 30px;
	font-family: 'american_captainregular';
	margin-top: 10%;
	margin-left: 8%;
	line-height: 44px;
}
#achievements ul li .top .right h2 span{
	display: block;
	font-size: 30px;
	font-weight: bold;
	background: linear-gradient(#7eb244, #43C6AC);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#achievements ul li .bottom{

}
#achievements ul li .bottom p{
	text-align: justify;
}
#gallery{
	text-align: center;
	padding: 32px 0 50px;
	background: #F5F5F5;
}
#gallery .head{
	
}
#gallery .head h2{
	font-size: 50px;
	color: #484653;
	font-weight: bold;
	font-family: 'american_captainregular';
	letter-spacing: 3px;
	word-spacing: 2px;
}
#gallery .head h2 span{
	display: inline-block;
	background: linear-gradient(#7eb244, #43C6AC);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
}
#gallery ul{
	float: left;
	margin: 20px 0;
}
#gallery ul li{
	float: left;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 1%;
}
#gallery ul li:nth-child(3n){
	margin-right: 0;
}
#gallery ul li a{
	display: block;
}
#gallery ul li a img{
	width: 100%;
}
#gallery a.button{
	color: #fff;
	font-size: 20px;
	border-radius: 25px;
	padding: 10px 25px;
	background: linear-gradient(to right,#7eb244, #43C6AC);
	display: inline-block;
	margin-top: 20px;
}
#banner{
	padding: 92px 0;
	background: linear-gradient(to right,#7eb244, #43C6AC);
	color: #fff;
	text-align: center;
}
#banner h5{
	font-size: 18px;
}
#banner h3{
	font-weight: bold;
	margin-top: 20px;
	font-size: 32px;
}
#innovations{
	padding: 5% 0;
}
#innovations .head{
	margin-bottom: 5%;
}
#innovations .head h2{
	font-size: 45px;
	color: #7eb244;
	text-align: center;
	
}
#innovations ul{
	float: left;
	width: 100%;
	margin: 0 auto;
}
#innovations .card{
	background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 60px 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#innovations ul li.card{
	float: left;
	width: 48%;
	text-align: center;
	margin-right: 4%;
}
#innovations ul li.card:last-child{
	margin-right: 0;
}
#innovations ul li.card a img{
	width: 22%;
	margin: 0 auto;
	display: block;
}
#innovations ul li.card h3{
	font-size: 30px;
	text-transform: uppercase;
	color: #7eb244;
	margin: 6% 0 3%;
}
#innovations ul li.card p{
	margin: 0 auto 4%;
	color: #A6A9AA;
	font-size: 14px;
}
#innovations ul li.card a.button{
	font-weight: bold;
	font-size: 18px;
}
#testimonials{
	background: url(../images/testimonials.jpg) no-repeat;
	background-size: cover;
	padding: 130px 0;
}
#testimonials div.head{
	margin-bottom: 60px;
}
#testimonials div.head h2{
	font-size: 45px;
	font-weight: bold;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	font-family: 'american_captainregular';
}
#testimonials div.head h2 span{
	display: block;
	background: linear-gradient(#7eb244, #43C6AC);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
}
#testimonials ul{
	float: left;
}
#testimonials ul li{
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
	width: 48%;
	background: #fff;
}
#testimonials ul li:nth-child(2n){
	margin-right: 0;
}
#testimonials ul li img{
	float: left;
	width: 25%;
	display: block;
	box-sizing: border-box;
}
#testimonials ul li div.content{
	float: left;
	width: 75%;
	padding: 35px 25px;
	box-sizing: border-box;
}
#testimonials ul li div.content h5{
	margin-top: 2%;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
#testimonials ul li div.content h5 span{
	font-weight: normal;
}
#news{
 padding: 50px 0;
 text-align: center;
}
#news div.head{
	text-align: center;
	text-transform: uppercase;
	font-family: 'american_captainregular';
	margin-bottom: 4%;
}
#news div.head h2{
	font-size: 45px;
	font-weight: bold;
	color: #4A4853;
}
#news div.head h2 span{
	display: inline-block;
	background: linear-gradient(#7eb244, #43C6AC);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
}
#news ul{
	float: left;
}
#news ul li{
	float: left;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 2%;
	background: #f5f5f5;

}
#news ul li:last-child{
	margin-right: 0;
}
#news ul li div.top{
	
}
#news ul li div.top img{
	width: 100%;
	display: block;
}
#news ul li div.bottom{
	padding: 20px 10px;
}
#news ul li div.bottom h3{
	font-weight: bold;
	font-size: 30px;
	color: #4A4853;
	text-transform: uppercase;
	font-family: 'american_captainregular';
}
#news ul li div.bottom h3 span{
	background: linear-gradient(#7eb244, #43C6AC);
	font-weight: bold;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#news ul li div.bottom p{
	text-align: justify;
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 20px;
}
#news ul li div.bottom h5{
	text-align: right;
	color: #7BC281;
	background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
}
#messages{
	padding: 70px 0 40px;
	background: #f5f5f5;
}
#messages div.message{
	float: left;
	width: 48%;
	margin-right: 2%;
}
#messages div.message.last{
	margin-right: 0;
}
#messages div.message h2{
	font-size: 40px;
	font-weight: bold;
	color: #4A4853;
	font-family: 'american_captainregular';
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
}
#messages div.message h2 span{
	background: -webkit-linear-gradient(#43C6AC, #7eb244);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	display: block;
	font-weight: bold;
}
#messages div.message img{
	border-radius: 130px;
	margin: 25px auto;
	display: block;
	width: 200px;
	height: 200px;
}
#messages div.message h3{
	font-weight: bold;
	color: #4A4853;
	font-family: 'american_captainregular';
	text-align: center;
	font-size: 30px;
}
#messages div.message h5{
	background: -webkit-linear-gradient(#43C6AC, #7eb244);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-align: center;
	font-size: 25px;
	font-family: 'american_captainregular';
	margin-top: 15px;
}
#messages div.message p{
	margin: 25px 0;
	text-align: center;
	font-size: 14px;
}
#counts{
	background: url(../images/countdown.jpg) no-repeat;
	background-size: cover;
	padding: 28px 0;
	text-align: center;
}
#counts div.widget{
	float: left;
	width: 25%;
	display: inline-block;
	border-right: 2px solid #fff;
}
#counts div.widget.last{
	border-right: none;
}
#counts div.widget span.icon{
	display: inline-block;
	width: 114px;
	height: 90px;
	background: url(../images/sprite-kvups.png) no-repeat;
	background-position: -3px -42px;
	margin-bottom: 18px;
}
#counts div.widget span.icon1{
	display: inline-block;
	width: 94px;
	height: 94px;
	background: url(../images/sprite-kvups.png) no-repeat;
	background-position: -127px -36px;
	margin-bottom: 18px;
}
#counts div.widget span.icon2{
	display: inline-block;
	width: 82px;
	height: 82px;
	background: url(../images/sprite-kvups.png) no-repeat;
	background-position: -237px -42px;
	margin-bottom: 18px;
}
#counts div.widget span.icon3{
	display: inline-block;
	width: 74px;
	height: 91px;
	background: url(../images/sprite-kvups.png) no-repeat;
	background-position: -345px -38px;
	margin-bottom: 18px;
}
#counts div.widget h4{
	font-size: 35px;
	color: #fff;
	font-weight: bold;
	font-family: 'american_captainregular';
}
#counts div.widget h4 span{
	display: block;
	text-align: center;
	font-weight: bold;
}
#faculties{
	padding: 95px 0;
}
#faculties div.head{
	font-family: 'american_captainregular';
	letter-spacing: 2px;
	font-size: 35px;
	text-align: center;
	margin-bottom: 90px;
}
#faculties div.head h2{
	color: #4A4853;
	text-transform: uppercase;
	font-weight: bold;
}
#faculties div.head h2 span{
	background: -webkit-linear-gradient(#43C6AC, #7eb244);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip:text;
	font-weight: bold;
}
#faculties div.faculty{
	float: left;
	width: 25%;
}
#faculties div.faculty span.icon.black{
	background: #4A4853;
}
#faculties div.faculty span.icon.black small{
	background: url(../images/sprite-kvups.png) no-repeat -3px -139px;
	 width: 51px;
	 height: 42px;
	 display:inline-block;
}
#faculties div.faculty span.icon{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: linear-gradient(to right,#43C6AC, #7eb244);
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
#faculties div.faculty span.icon small{
	background: url(../images/sprite-kvups.png) no-repeat -59px -139px;
	width: 51px;
	height: 58px;
	display: inline-block;
}
#faculties div.faculty span.icon.icon1 small{
	background-position: -115px -141px;
	width: 49px;
	height: 49px;
	display: inline-block;
}
#faculties div.faculty span.icon.icon2 small{
	background-position: -170px -148px;
	width: 49px;
	height: 33px;
	display: inline-block;
}
#faculties div.faculty h3{
	text-align: center;
	color: #4A4853;
	font-family: 'american_captainregular';
	font-weight: bold;
	font-size: 25px;
	margin: 25px 0;
}
#faculties div.faculty p{
	text-align: center;
	font-size: 14px;
}
#activities{
	background: url(../images/acivities.jpg) no-repeat;
	background-size: cover;
	padding: 50px 0;
	text-align: center;
}
#activities div.head{
	text-align: left;
	font-size: 35px;
	text-transform: uppercase;
	font-family: 'american_captainregular';
}
#activities div.head h2{
	color: #fff;
	font-weight: bold;
}
#activities div.head h2 span{
	font-weight: bold;
	display: block;
	background: -webkit-linear-gradient(#43C6AC, #7eb244);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#activities div.activity{
 	background: #fff;
}
#activities div.activity div.left{
	width: 50%;
}
#activities div.activity div.left img{
	width: 100%;
	display: block;
}
#activities div.activity div.right{
	width: 50%;
	display: block;
	background: #fff;
	padding: 30px 30px 153px;
	box-sizing: border-box;
}
#activities div.activity div.right h3{
	text-align: left;
	text-transform: uppercase;
	color: #4A4853;
	font-size: 30px;
	font-weight: bold;
	font-family: 'american_captainregular';
}
#activities div.activity div.right h3 span{
	display: block;
	background: -webkit-linear-gradient(#43C6AC, #7eb244);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
}
#activities div.activity div.right p{
	margin-top: 2%;
	font-size: 15px;
	text-align: left;
}
#activities a.button{
	display: inline-block;
	border-radius: 25px;
	padding:10px 35px;
	background: linear-gradient(to left,#43C6AC, #7eb244);
	color: #fff;
	font-size: 20px;
	margin-top: 4%;
}
#videos{
	padding: 100px 0;
}
#videos div.head{
	font-size: 32px;
	font-family: 'american_captainregular';
	text-align: center;
	letter-spacing: 3px;
	margin-bottom: 50px;
}
#videos div.head h2{
	color:  #4A4853;
	font-weight: bold;
}
#videos div.head h2 span{
	display: inline-block;
	background: -webkit-linear-gradient(#43C6AC, #7eb244);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
}
#videos ul{
	float: left;
}
#videos ul li{
	float: left;
	width: 31.3%;
	margin-right: 3%;
}
#videos ul li:last-child{
	margin-right: 0;
}
#videos ul li div.top{
	float: left;
	position: relative;
}
#videos ul li div.top a{
 	display: block;
}
#videos ul li div.top a img{
	display: block;
	width: 100%;
}
#videos ul li div.top a span.icon{
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 90px;
	height: 90px;
}
#videos ul li div.top a span.icon img{
	width: 100%;
	display: block;
}
#videos ul li div.bottom{
	text-align: center;
	margin-top: 12%;
}
#videos ul li div.bottom h4{
	font-size: 25px;
	font-family: 'american_captainregular';
	font-weight: bold;
}
#contact{
	background: #f5f5f5;

}
#contact section.left{
	width: 50%;
}
#contact section.right{
	width: 35%;
	text-align: right;
	padding: 30px 30px 141px;
	float: left;
}
#contact section.right h3{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;
	color: #4A4853;
	font-family: 'american_captainregular';
	letter-spacing: 3px;

}
#contact section.right h3 span{
	display: block;
	background: -webkit-linear-gradient(#43C6AC, #7eb244);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: bold;
}
#contact section.right div.details{
	margin-top: 2%;
}
#contact section.right div.details div.contact{

}
#contact section.right div.details div.contact a{
	display: flex;
	margin-bottom: 10px;
}
#contact section.right div.details div.contact a.last{
	margin-bottom: 0;
}
#contact section.right div.details div.contact a b{
	width: 95%;
	display: inline-block;
	font-size: 14px;
}
#contact section.right div.details div.contact a p{
	width: 95%;
}
#contact section.right div.details div.contact a span.mobile{
	display: inline-block;
	float: right;
	background: url(../images/sprite-kvups.png) no-repeat;
	background-position: -2px -201px;
	width: 20px;
	height: 20px;
	margin-left: 5px;
}
#contact section.right div.details div.contact a span.mail{
	display: inline-block;
	float: right;
	background: url(../images/sprite-kvups.png) no-repeat;
	background-position: -33px -201px;
	width: 23px;
	height: 17px;
	margin-left: 5px;
}
#contact section.right div.details div.contact a span.location{
	display: inline-block;
	float: right;
	background: url(../images/sprite-kvups.png) no-repeat;
	background-position: -66px -201px;
	width: 21px;
	height: 28px;
	margin-left: 5px;
}
footer{

}
footer section.top{
	padding: 2% 10%;
	background:linear-gradient(to left,#43C6AC, #7eb244);
}
footer section.top div.item{
	width: 33.3%;
}
footer section.top div.item.left{
	text-align: left;
}
footer section.top div.item.left.go{
	text-align: right;
}
footer section.top div.item.left h4{
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	font-family: 'american_captainregular';
	font-weight: bold;
}
footer section.top div.item p{
	color: #fff;
	font-size: 14px;
	
}
footer section.top div.item h1{
	font-size: 60px;
	color: #fff;
	font-family: 'open_sansbold';
	font-weight: bold;
	margin-bottom: 50px;
	text-align: center;
}
footer section.top div.item h1 a{

}
footer section.bottom{
	 background: #43434F;
	 padding: 20px 0;
}
footer section.bottom p{
	text-align: center;
	color: #fff;
	font-size: 14px;
}
footer section.bottom p a{
	color: #fff;
}
@media all and (max-width: 1280px){

}
@media all and (max-width: 980px){
	header section#bottom nav.right{
		display: none;
	}
	header section#bottom span.menu-icon{
		float: right;
		width: 60px;
		height: 60px;
		text-align: center;
		margin-top: 32px;
	}
	header section#bottom span.menu-icon small{
		display: inline-block;
		width: 32px;
		height: 32px;
		background: url(../images/menu.png) no-repeat;
		margin-top: 14px;		
	}
	#about .top .left{
		width: 25%;
	}
}
@media all and (max-width: 768px){
	
}
@media all and (max-width: 640px){
	
}
@media all and (max-width: 480px){
	
}
@media all and (max-width: 360px){
	
}
@media all and (max-width: 320px){
	
}